URxvt*perl-ext-common     : default,matcher,resize-font

URxvt*keysym.C-Delete     : perl:matcher:last
URxvt*keysym.M-Delete     : perl:matcher:list
URxvt*matcher.rend.0      : Uline Bold fg5
URxvt*depth               : 32
URxvt*buffered            : true
URxvt*internalBorder      : 5
URxvt*scrollBar           : false
URxvt*pointerBlank        : true
URxvt*urlLauncher         : firefox
URxvt*matcher.pattern.1   : \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt*matcher.button      : 1
URxvt*termName            : rxvt-unicode-256color
URxvt*iso14755            : false
URxvt*iso14755_52         : false
URxvt*colorUL             : #4682B4

URxvt*resize-font.smaller : C-Down
URxvt*resize-font.bigger  : C-Up

urxvt*depth: 32
!urxvt*background: rgba:0000/0000/0200/c800

!----------


#include "/home/alpha/.config/x/colours/washed"

urxvt*font: xft:DejaVu Sans Mono:style=Book:antialias=true:size=8, \
            xft:WenQuanYi Bitmap Song:size=8, \
            xft:FreeSerif:style=Regular, \
            xft:unifont:style=Medium:antialias=false

rofi.lines           : 4
rofi.width           : 25
rofi.borderwidth     : 3
rofi.auto-select     : false
rofi.hide-scrollbar  : true
rofi.color-window    : #181818, #181818
rofi.color-normal    : #181818, #cdcfce, #181818, c9, #181818
rofi.separator-style : solid
